<article class="panel panel-default" [ngStyle]="{backgroundColor: color, 'font-size.px': tam}"
                                    (click)="color = 'yellow'"
                                    (dbclick)="onMudaStyle()"
                                    (mouseenter)="color = 'green'"
                                    (mouseleave)="color = 'blue'">
    <div class="panel-body">
        {{ messageVarClasse.content }}
        {{ messageVarClasseAlias.content }}
       <!--  {{ message.content }} -->
    </div>
    <footer class="panel-footer">
        <div class="author">
            {{ messageVarClasse.username }}
            {{ messageVarClasseAlias.username }}
           <!--{{ message.author }}-->
        </div>
        <div class="config">
            <a (click)="onEdit()">Edit</a>
            <a (Click)="onDelete">Delete</a>
        </div>
    </footer>
</article>